# Preamble

In [1]:
import glob
import os
import pandas as pd
import numpy as np
import seaborn as sns
import wikitextparser as wtp
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm, Normalize
from datetime import datetime
from ast import literal_eval

# Lists

In [2]:
# API variables
api_url = 'https://yugipedia.com/api.php'
sets_query_url = '?action=ask&query=[[Category:Set%20Card%20Lists]]|limit%3D5000|order%3Dasc&format=json'
lists_query_url = '?action=query&prop=revisions&rvprop=content&format=json&titles='

rarity_dict = {'c': 'Common', 'r': 'Rare', 'sr': 'Super Rare', 'ur': 'Ultra Rare', 'utr': 'Ultimate Rare', 'n': 'Normal', 'nr': 'Normal Rare', 'sp': 'Short Print', 'ssp': 'Super Short Print', 'hfr': 'Holofoil Rare', 'scr': 'Secret Rare', 'uscr': 'Ultra Secret Rare', 'scur': 'Secret Ultra Rare', 'pscr': 'Prismatic Secret Rare', 'hgr': 'Holographic Rare', ' gr': 'Ghost Rare', 'pr': 'Parallel Rare', 'npr': 'Normal Parallel Rare', 'pc': 'Parallel Common', 'spr': 'Super Parallel Rare', 'upr': 'Ultra Parallel Rare', 'dnpr': 'Duel Terminal Normal Parallel Rare', 'dpc': 'Duel Terminal Parallel Common', 'drpr': 'Duel Terminal Rare Parallel Rare', 'dspr': 'Duel Terminal Super Parallel Rare', 'dupr': 'Duel Terminal Ultra Parallel Rare', 'DScPR': 'Duel Terminal Secret Parallel Rare', 'gur': 'Gold Rare', 'escr': 'Extra Secret Rare', 'ggr': 'Ghost/Gold Rare', 'shr': 'Shatterfoil Rare', 'cr': 'Collector\'s Rare', 'str': 'Starlight Rare', 'gr': 'Ghost Rare', 'gscr': 'Gold Secret Rare', 'sfr': 'Starfoil Rare'}
regions_dict = {'EN':'English','E':'English', 'PT': 'Portuguese', 'P': 'Portuguese', 'DE': 'German', 'G': 'German', 'FR': 'French', 'F': 'French', 'IT': 'Italian', 'I': 'Italian', 'SP': 'Spanish', 'S': 'Spanish', 'JP': 'Japanese', 'AE': 'Asian English', 'KR': 'Korean', 'K': 'Korean', 'TC': 'Traditional Chinese', 'SC': 'Simplified Chinese'}

In [17]:
test = pd.read_json('https://yugipedia.com/api.php?action=askargs&conditions=Legend%20of%20Blue%20Eyes%20White%20Dragon&printouts=English%20release%20date&format=json')

In [16]:
test2 = pd.DataFrame(test['query']['results']).T
test3 = pd.DataFrame(test2['printouts'].values.tolist())
timestamp = test3['English release date'][0][0]['timestamp']
pd.Timestamp(int(timestamp), unit='s').ctime()

'Fri Mar  8 00:00:00 2002'

In [6]:
df = pd.read_json(f'{api_url}{sets_query_url}')
keys = list(df['query']['results'].keys())
print(len(keys))

3963

In [7]:
all_set_lists = pd.DataFrame(columns = ['Set','Card number','Name','Rarity','Print','Quantity'])

for i in range(40):
    first = i*100
    last = (i+1)*100
    titles = '|'.join(keys[first:last]).replace(' ','%20').encode('utf-8')
    df = pd.read_json(f'{api_url}{lists_query_url}{titles}')
    contents = df['query']['pages'].values()
    
    for content in contents:
        if 'revisions' in  content.keys():
            temp = content['revisions'][0]['*']
            parsed = wtp.parse(temp)
            
            for template in parsed.templates:
                if template.name == 'Set list':
                    title = content['title'].split('Lists:')[1]
                    set_df = pd.DataFrame(columns = ['Set', 'Card number', 'Name', 'Rarity', 'Print', 'Quantity'])


                    region = None
                    rarity = None
                    card_print = None
                    qty = None
                    desc = None
                    opt = None
                    list_df = None
                    
                    for argument in template.arguments:
                        if 'region=' in argument:
                            region = argument.string[argument.string.index('=')+1:]
                        elif 'rarities=' in argument:
                            rarity = tuple(rarity_dict.get(i.strip().lower(), i.strip()) for i in argument.string[argument.string.index('=')+1:].split(','))
                        elif 'print=' in argument:
                            card_print = argument.string[argument.string.index('=')+1:]
                        elif 'qty=' in argument:
                            qty = argument.string[argument.string.index('=')+1:]
                        elif 'description=' in argument:
                            desc = argument.string[argument.string.index('=')+1:]
                        elif 'options=' in argument:
                            opt = argument.string[argument.string.index('=')+1:]
                        else:
                            set_list = argument.string[2:-1]
                            lines = set_list.split('\n')

                            list_df = pd.DataFrame([x.split(';') for x in lines])
                            list_df = list_df[~list_df[0].str.contains('!:')]
                            list_df = list_df.applymap(lambda x: x.split('//')[0] if x is not None else x)
                            list_df = list_df.applymap(lambda x: x.strip() if x is not None else x)
                            list_df.replace(r'^\s*$', None, regex = True, inplace = True)

                    if opt != 'noabbr':
                        set_df['Card number'] = list_df[0]
                        set_df['Name'] = list_df[1]
                    else: 
                        set_df['Name'] = list_df[0]

                    if len(list_df.columns)>2: # and rare in str
                        set_df['Rarity'] = list_df[2].apply(lambda x: tuple([rarity_dict.get(y.strip().lower(), y.strip()) for y in x.split(',')]) if x is not None else rarity)
                    else:
                        set_df['Rarity'] = [rarity for _ in set_df.index]

                    if len(list_df.columns)>3 :
                        if card_print is not None: # and new/reprint in str
                            set_df['Print'] = list_df[3].apply(lambda x: x if x is not None else card_print)
                            if len(list_df.columns)>4 and qty is not None:
                                set_df['Quantity'] = list_df[4].apply(lambda x: x if x is not None else qty)
                        elif qty is not None:
                            set_df['Quantity'] = list_df[3].apply(lambda x: x if x is not None else qty)
                    
                    set_df['Set'] = title
                    all_set_lists = pd.concat([all_set_lists, set_df], ignore_index=True)
                    
        else:
            print('Error:', content['title'])

Error: B"Set Card Lists:Duelist Pack Collection Tin 2008 (TCG-EN)
Error: Set Card Lists:Sneak Peek Participation Cards: Series 5 (TCG-IT)
Error: Set Card Lists:Expert Edition Volume.4 (OCG-KR)
Error: B"Set Card Lists:Structure Deck: Warrior's Triumph (TCG-FR)
Error: B"Set Card Lists:Yu-Gi-Oh! World Championship Tournament 2004 promotional cards (TCG-NA)
Error: Set Card Lists:All Fusion Monsters (WC6-EN)
Error: B"Set Card Lists:Duelist Pack: Battle City (TCG-PT)
Error: Set Card Lists:Sneak Peek Participation Cards: Series 5 (TCG-SP)
Error: Set Card Lists:2-Player Starter Deck: Yuya
Error: B"Set Card Lists:Duelist League Demo 2010 (TCG-SP)
Error: Set Card Lists:Yu-Gi-Oh: Super Fusion! Bonds That Transcend Time Movie Pack (OCG-KR)
Error: Set Card Lists:Sneak Peek Participation Cards: Series 2 (TCG-EN)
Error: B"Set Card Lists:Yu-Gi-Oh! Championship Series 2014 pre-registration card (TCG-EN)
Error: Set Card Lists:Sneak Peek Participation Cards: Series 3 (TCG-SP)
Error: B"Set Card Lists:Duelist Pack: Yusei 3 (TCG-FR)
Error: Set Card Lists:San Diego Comic-Con promotional cards (TCG-EN)
Error: Set Card Lists:Structure Deck: Warrior's Strike (OCG-KR)
Error: B'Set Card Lists:Tournament Pack 2012 Vol.14 (OCG-KR)
Error: Set Card Lists:Yu-Gi-Oh! 5D\'s Wheelie Breakers promotional cards (TCG-FR)
Error: Set Card Lists:Yu-Gi-Oh! World Championship 2007 Game Guide promotional card (OCG-JP)
Error: Set Card Lists:Legendary Collection 4: Joey\'s World (TCG-EN)
Error: Set Card Lists:Yu-Gi-Oh! 5D\'s Volume 7 promotional card (OCG-JP)
Error: B"Set Card Lists:V Jump September 2013 promotional card (OCG-JP)
Error: Set Card Lists:Evolzar Dolkka Collectible Tin (TCG-EN)
Error: Set Card Lists:Structure Deck: Warrior's Strike (OCG-JP)
Error: B"Set Card Lists:Starter Deck 2016 (OCG-KR)
Error: Set Card Lists:Yu-Gi-Oh! Duel Monsters 8: Reshef of Destruction Game Guide 1 Promos (OCG-JP)
Error: B"Set Card Lists:Cyber Dragon Revolution Structure Deck (TCG-FR)
Error: Set Card Lists:Yu-Gi-Oh! Duel Monsters VI: Expert 2 Game Guide 1 Promos (OCG-JP)
Error: Set Card Lists:Expert Edition Volume.3 (OCG-JP)
Error: Set Card Lists:2-Player Starter Deck: Yuya
Error: B"Set Card Lists:Yu-Gi-Oh! World Championship 2007 promotional cards (TCG-DE)
Error: Set Card Lists:Jump Ry\xc5\xab Vol.08 promotional card (OCG-JP)
Error: Set Card Lists:Invasion: Vengeance: Special Edition (TCG-IT)
Error: B"Set Card Lists:Duelist League 16 participation cards (TCG-SP)
Error: Set Card Lists:Duelist Card Protector EX: Shadow of the Six Samurai - Shien
Error: B"Set Card Lists:Structure Deck: Yugi Muto (TCG-FR)
Error: Set Card Lists:All Spells (WC6-EN)
Error: Set Card Lists:The Dark Illusion: Special Edition (TCG-DE)
Error: B"Set Card Lists:Collectible Tins 2009 Wave 2 (TCG-EN)
Error: Set Card Lists:The Dark Illusion: Special Edition (TCG-EU)
Error: B"Set Card Lists:Duel Terminal Acceleration Guide 5 promotional card (OCG-JP)
Error: Set Card Lists:Sneak Peek Participation Cards: Series 4 (TCG-EN)
Error: Set Card Lists:Yu-Gi-Oh! Duel Monsters VI: Expert 2 Game Guide 2 Promos (OCG-JP)
Error: B"Set Card Lists:Secrets of Eternity: Super Edition (TCG-IT)
Error: Set Card Lists:2-Player Starter Deck: Yuya
Error: B"Set Card Lists:OTS Tournament Pack 3 (TCG-PT)
Error: Set Card Lists:Swedish Shonen Jump 2004, Issue 3 promotional card (TCG-EN)
Error: Set Card Lists:Invasion: Vengeance: Special Edition (TCG-DE)
Error: B"Set Card Lists:Shonen Jump Vol. 8, Issue 7 promotional card (TCG-EN)
Error: Set Card Lists:Duelist Pack: Yuma 2: Gogogo
Error: B"Set Card Lists:Structure Deck: Dinosaur's Rage (TCG-IT)
Error: B"Set Card Lists:Yu-Gi-Oh: Super Fusion! Bonds That Transcend Time Movie Pack (OCG-JP)
Error: Set Card Lists:All Normal Monsters (WC6-EN)
Error: Set Card Lists:2-Player Starter Deck: Yuya
Error: B"Set Card Lists:Beginner's Edition 1 (OCG-JP)
Error: Set Card Lists:Expert Edition Volume.3 (OCG-KR)
Error: Set Card Lists:Yu-Gi-Oh! Duel Monsters 8: Reshef of Destruction Game Guide 2 Promos (OCG-JP)
Error: Set Card Lists:Saiky\xc5\x8d V Jump Festa 2013 promotional card (OCG-JP)
Error: B"Set Card Lists:Astral Pack Seven (TCG-FR)
Error: Set Card Lists:Yu-Gi-Oh! 5D's Stardust Accelerator - World Championship 2009 Game Guide promotional card (OCG-JP)
Error: B"Set Card Lists:Yu-Gi-Oh! Duelist Volume 16 promotional card (TCG-EN)
Error: Set Card Lists:Sneak Peek Participation Cards: Series 5 (TCG-FR)
Error: Set Card Lists:Sneak Peek Participation Cards: Series 4 (TCG-IT)
Error: Set Card Lists:Pharaoh Tour 2006 promotional cards (TCG-IT)
Error: B"Set Card Lists:Premium Gold: Infinite Gold (TCG-FR)
Error: B"Set Card Lists:Crossroads of Chaos (TCG-IT)
Error: Set Card Lists:The Dark Illusion: Special Edition (TCG-SP)
Error: B"Set Card Lists:Labyrinth of Nightmare (TCG-EU)
Error: Set Card Lists:Yu-Gi-Oh! Duel Monsters 7: The Duel City Legend Game Guide 2 Promos (OCG-JP)
Error: Set Card Lists:Memories of the Duel King: Ceremonial Battle (OCG-JP)
Error: Set Card Lists:Invasion: Vengeance: Special Edition (TCG-EN)
Error: B"Set Card Lists:Yu-Gi-Oh! 5D's World Championship 2011: Over the Nexus promotional cards (TCG-SP)
Error: Set Card Lists:GameBoy Duel Monsters Promos: Series 8 (OCG-JP)
Error: Set Card Lists:Starter Deck: Joey (TCG-EN)
Error: B'Set Card Lists:Extra Pack: Knights of Order (OCG-JP)
Error: Set Card Lists:Hidden Arsenal 4: Trishula\'s Triumph (TCG-IT)
Error: Set Card Lists:Duel Master\'s Guide promotional cards (TCG-NA)
Error: Set Card Lists:Yu-Gi-Oh! 5D\'s Volume 4 promotional card (TCG-EN)
Error: Set Card Lists:Beginner\'s Edition 1 (OCG-KR)
Error: Set Card Lists:Starter Deck: Yu-Gi-Oh! 5D\'s (TCG-IT)
Error: B"Set Card Lists:2018 Mega-Tins (TCG-PT)
Error: B"Set Card Lists:Battle of Chaos (OCG-KR)
Error: Set Card Lists:Battle of Chaos 1 Bonus Pack (OCG-JP)
Error: Set Card Lists:Battle of Chaos 1 Bonus Pack (OCG-KR)
Error: Set Card Lists:Blazing Vortex 1 Bonus Pack (OCG-JP)
Error: Set Card Lists:Blazing Vortex 1 Bonus Pack (OCG-KR)
Error: B'Set Card Lists:Chaos Impact Sneak Peek Participation Card (TCG-IT)
Error: Set Card Lists:Chinese Weekly Sh\xc5\x8dnen Jump lottery prize cards (OCG-JP)
Error: B'Set Card Lists:Collectible Tins 2008 Wave 1 (TCG-SP)
Error: B'Set Card Lists:Cybernetic Horizon Sneak Peek Participation Card (TCG-DE)
Error: B"Set Card Lists:Deck Mod Pack: Fierce Thunder Storm!! (OCG-JP)
Error: Set Card Lists:Dimension Force 1 Bonus Pack (OCG-JP)
Error: Set Card Lists:Dimension Force 1 Bonus Pack (OCG-KR)
Error: B'Set Card Lists:Duelist League 18 participation cards (TCG-PT)
Error: B'Set Card Lists:Duelist Pack: Duelists of the Abyss (OCG-JP)
Error: B'Set Card Lists:Egyptian God Deck: Slifer the Sky Dragon (TCG-DE)
Error: B"Set Card Lists:Fists of the Gadgets (TCG-SP)
Error: B'Set Card Lists:Hobby League 6 participation card E (TCG-IT)

In [8]:
all_set_lists

,Set,Card number,Name,Rarity,Print,Quantity
0,2015 Mega-Tins (TCG-FR),CT12-FR001,Odd-Eyes Pendulum Dragon,"(Platinum Secret Rare,)",NaN,NaN
1,2015 Mega-Tins (TCG-FR),CT12-FR003,Elder Entity Norden,"(Super Rare,)",NaN,NaN
2,2015 Mega-Tins (TCG-FR),CT12-FR004,Majesty's Fiend,"(Super Rare,)",NaN,NaN
3,2015 Mega-Tins (TCG-FR),CT12-FR002,Dark Rebellion Xyz Dragon,"(Platinum Secret Rare,)",NaN,NaN
4,2015 Mega-Tins (TCG-FR),CT12-FR005,Old Entity Hastorr,"(Super Rare,)",NaN,NaN
...,...,...,...,...,...,...
72279,Invasion of Chaos: Special Edition (TCG-NA),IOC-SE2,Lava Golem,"(Ultra Rare,)",NaN,NaN
72280,Invasion of Chaos: Special Edition (TCG-NA),IOC-SE3,Magic Cylinder,"(Ultra Rare,)",NaN,NaN
72281,Invasion of Chaos: Special Edition (TCG-NA),IOC-SE4,Ring of Destruction,"(Ultra Rare,)",NaN,NaN
72282,Invasion of Chaos promotional cards (OCG-KR),IOC-KRPR1,Mystical Refpanel,"(Secret Rare,)",NaN,NaN
72283,Invasion of Chaos promotional cards (OCG-KR),IOC-KRPR2,Compulsory Evacuation Device,"(Secret Rare,)",NaN,NaN

In [9]:
all_set_lists.groupby('Card number', dropna=False).nunique()

             Set  Name  Rarity  Print  Quantity
Card number
19YJ-JPT01     1     1       1      0         0
2010-AE003     1     1       1      0         0
2010-EN001     1     1       1      0         0
2010-EN002     1     1       1      0         0
2012-AE003     1     1       1      0         0
...          ...   ...     ...    ...       ...
ZTIN-FR021     1     1       1      0         0
ZTIN-FRV01     1     1       1      0         0
ZTIN-FRV02     1     1       1      0         0
ZTIN-FRV03     1     1       1      0         0
NaN           28   210       5      0         0

[71375 rows x 5 columns]

In [10]:
all_set_lists.groupby('Name', dropna=False).nunique()

                               Set  Card number  Rarity  Print  Quantity
Name
"A" Cell Breeding Device         4            3       1      0         0
"A" Cell Incubator               4            4       1      1         0
"A" Cell Recombination Device    5            5       1      0         0
"A" Cell Scatter Burst           4            4       1      0         0
"Backup Soldier"                 1            1       0      0         0
...                            ...          ...     ...    ...       ...
Zubaba Knight                   24           24       5      1         1
Zubababancho Gagagacoat          2            2       1      1         0
Zure, Knight of Dark World       8            7       1      0         1
Zushin the Sleeping Giant        4            4       2      1         0
NaN                             10          168       2      1         0

[11146 rows x 5 columns]

In [11]:
all_set_lists.explode('Rarity').groupby('Rarity').nunique()

,Set,Card number,Name,Print,Quantity
Rarity,,,,,
10000 Secret Rare,7,7,1,1,0
20ScR,1,16,16,0,0
20th Secret Rare,12,84,83,2,0
20th Secret rare,1,2,2,0,0
Collector's Rare,6,90,15,2,0
Collectors Rare,3,65,65,1,0
Common,844,35602,6946,3,3
Duel Terminal Normal Parallel Rare,16,526,333,0,0
Duel Terminal Normal Rare Parallel Rare,2,2,2,0,0
Duel Terminal Rare Parallel Rare,16,190,112,0,0
Duel Terminal Secret Parallel Rare,7,56,40,0,0
Duel Terminal Super Parallel Rare,16,125,66,0,0
Duel Terminal Ultra Parallel Rare,19,94,49,0,0
Extra Secret Parallel Rare,4,10,6,0,0
Extra Secret Rare,10,42,33,1,1
Ghost Rare,92,132,45,3,0
Ghost/Gold Rare,1,6,6,0,0
Gold Rare,29,959,327,2,0
Gold Rush Rare,1,2,2,1,0
Gold Secret Rare,14,358,135,2,0
Holographic Parallel Rare,1,1,1,1,0
Holographic Rare,63,63,50,2,0
Kaiba Corporation Common,3,3,3,0,0
Kaiba Corporation Rare,2,2,2,0,0
Kaiba Corporation Ultra Rare,1,1,1,0,0
Millennium Gold Rare,1,6,6,2,0
Millennium Rare,2,38,38,1,0
Millennium Secret Rare,1,2,2,0,0
Millennium Super Rare,1,20,20,0,0
Millennium Ultra Rare,1,8,8,0,0
Mosaic Rare,4,860,215,0,0
New,1,1,1,1,1
Normal Parallel Rare,72,653,413,2,1
Normal Rare,77,288,222,1,0
Platinum Secret Rare,6,12,4,0,0
Prismatic Secret Rare,58,864,250,3,0
Prismatic Secret rare,4,12,12,0,0
Rare,507,9003,2780,3,2
Reprint,4,0,23,0,0
Rush Rare,16,56,32,0,0
Secret Parallel Rare,3,9,6,1,0
Secret Rare,476,4856,1604,4,1
Secret rare,13,28,16,0,0
Shatterfoil Rare,6,1003,292,0,1
Short Print,150,573,194,2,0
Starfoil Rare,10,1010,310,0,0
Starfoil rare,2,24,12,0,0
Starlight Rare,35,150,30,2,0
Super Parallel Rare,7,132,72,3,1
Super Rare,985,9413,2917,6,1
Super Short Print,4,20,5,1,0
Super rare,38,79,54,0,0
Ultimate Rare,237,2000,680,2,1
Ultra Parallel Rare,56,186,100,3,1
Ultra Rare,989,8172,2320,4,2
Ultra Secret Rare,1,0,6,0,0
Ultra rare,50,57,41,0,0

In [12]:
all_set_lists.groupby('Print', dropna=False).nunique()

                              Set  Card number   Name  Rarity  Quantity
Print
                                1          166      0       0         0
European debut                  5            8      8       2         0
New                           161         5643   2057      35         3
New artwork                     8           23      8       4         0
North American debut            1            2      2       1         0
Reprint                       156         6322   2800      33         3
Reprint (New Art)               1            1      1       1         0
Reprint (functional errata)    10           12      7       6         0
NaN                          1615        59197  10116     104         3

In [13]:
all_set_lists.groupby('Quantity', dropna=False).nunique()

           Set  Card number   Name  Rarity  Print
Quantity
1          122         4525   1044      11      2
2          117          437    129       4      2
3           21           31     10       1      2
NaN       1654        66383  11007     112      8

In [14]:
all_set_lists[all_set_lists['Card number']=='!: header::Kaiba Deck']

Empty DataFrame
Columns: [Set, Card number, Name, Rarity, Print, Quantity]
Index: []